server:
  port: 8080

spring:
  application:
    name: notification-service

  mail:
    host: smtp.gmail.com
    port: 587
    username: hstcinema.ptit@gmail.com # Gmail của bạn
    password: qijopzbuwvctywdk # APP PASSWORD (16 ký tự, không dấu cách)
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false
