server:
  port: 8082
spring:
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=booking_db;encrypt=true;trustServerCertificate=true
    username: sa
    password: Aa@123456789
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServer2012Dialect
  redis:
    host: localhost
    port: 6379

  rabbitmq:
    host: localhost
    port: 5672